.header {
  width: 100%;
  background-color: #1e1e1e;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px; 
}

.logo {
  margin: 0;
  font-size: 1.8rem;
  color: white;
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}




